.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-
.header-nav {
  display: flex;
  list-style: none;
}
.header-nav li a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.header-booking {
  background-color: rgba(77, 70, 250, 1);
  color: white;
  cursor: pointer;
}
