.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav { 
  display:flex;
  list-style: none;
  text-decoration: none;
}
.header-nav 
.header-booking {
  background-color: var(--Blue-color);
}
