.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.header-nav {
  display: flex;
  list-style: none;
}
.header-nav li a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.header-booking {
  background-color: rgba(77, 70, 250, 1);
  color: white;
  height: 41px;
  width: 118px;
  left: 1223px;
  top: 38px;
  border-radius: 12px;
  padding: 10px 16px 10px 16px;
  outline: none;
  cursor: pointer;
}
