.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav { 
  display:flex;
  list-style: none;
}
.header-nav li a { 
  
  color:;
  text-decoration: none;
}
.header-booking {
  background-color: var(--Blue-color);
  cursor: pointer;
}
