.home {
  width: 100%;
  position: relative;
}

.home-hero {
  padding: 156px 0px 0px 171px;
}
.home-hero p {
  font-family: "SVN-Biennale";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 105px;
}
.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 803px;
  top: -506px;
}
.home-img img {
  width: 100%;
  height: 100%;
}
