.subheader {
  width: 100%;
  padding: 19px 171px 19px 171px;
  background-color: #fff;
  display: flex;
}
.subheader-location {
  display: flex;
}

.subheader-list {
  display: flex;
}

.subheader-btn {
  padding: 10
  
}