.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 70px 171px 40px 171px;
}
.footer ul {
  list-style: none;
  display: flex;
  gap: 0 30px;
}
.footer-icon {
  color: black;
  position: relative;
}
.footer-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
  background-color: crimson;
}
.footer ul li span { 
  padding
  
  
  
}
