.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding: 70px 171px 40px 171px;
}
.footer ul {
  list-style: none;
  display: flex;
  gap: 0 30px;
}
.footer-test {
  position: relative;
}
.footer-icon {
  color: black;
  position: relative;
}
.footer-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: crimson;
}
.footer ul li span {
  padding-left: 5px;
  font-family: "SVN-Biennale";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;
}
