.FlightInforFormBottmOne {
  padding: 0px 15px;
  display: flex;
  justify-content: flex-start;
}

.FlightInforFormBottmOne-left {
  width: 370px;
  display: flex;
  position: relative;
}
.FlightInforFormBottmOne-left::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 136px;

  top: 10px;
  left: 68px;
  background: rgba(77, 70, 250, 1);
}

.FlightInforFormBottmOne-left::before {
  content: "";
  position: absolute;

  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 2px;
  left: 64px;
  border: solid 1px rgba(77, 70, 250, 1);
}

.FlightInforFormBottmOne-left-date {
  padding-right: 22px;
}
.FlightInforFormBottmOne-right-date {
  padding-left: 30px;
  position: relative;
}

.FlightInforFormBottmOne-right-date::after {
  content: "";
  position: absolute;

  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 145px;
  left: -12px;
  background: rgba(77, 70, 250, 1);
}
.date-mid {
  margin: 32px 0 51px 0;
}

.date-right-top {
  margin-bottom: 104px;
}
