.FlightInforFormBottmTwo {
  padding: 15px 15px;
  display: flex;
  justify-content: flex-start;
}
.conditions {
  width: 355px;
}
.from-to {
  display: flex;
}
.price-details-right {
  display: flex;
}

.price-detailspay {
  
  display: ;
}