.flight-container {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  padding: 23px 15px 19px 23px;
}

.flight-container .flight-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.flight-container ul {
  list-style: none;
  display: flex;
}
.flight-choose button {
  padding: 6px 15px;
  border: none;
  color: #f06336;
}
