.flight-container {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  padding: 23px 15px 19px 23px;
}

.flight-container .flight-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.flight-container ul {
  list-style: none;
  display: flex;
}
.flight-choose button {
  width: 82px;
  height: 33px;
  background: rgba(240, 99, 54, 0.1);
  border-radius: 12px;
  width: 52px;
  height: 21px;
  padding: 6px 15px;
  font-family: "SVN-Biennale";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border: none;
  color: #f06336;
}
