.FlightInforFormBottmOne {
  padding: 0px 15px;
  display: flex;
  justify-content: flex-start;
}

.FlightInforFormBottmOne-left {
  width: 370px;
  display: flex;
}

.FlightInforFormBottmOne-left-date {
  padding-right: 22px;
}
.FlightInforFormBottmOne-right-date {
  
  
  padding-left: ;
}
