.FlightInforFormBottmTwo {
  padding: 15px 15px;
  display: flex;
  justify-content: flex-start;
}
.conditions {
  width: 355px;
}
.from-to {
  display: flex;
}
.price-details-container {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(77, 70, 250, 0.1);
}

.price-detailspay {
  display: flex;
}
.price-details-right {
  margin-left: 171px;
}
.price-detailspay-right {
  margin-left: 271px;
}
